extends base

block static_variables
	- var header_heading = "About."
	- var header_subheading = "Let's get to know me."
	- var header_content = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda fuga voluptas at sit cum nulla debitis labore soluta ipsam tempora sint illo facere distinctio a magnam quisquam, harum pariatur."

	- var toolbar_banner_content = "About."