extends base

prepend header
	- var heading = "About."
	- var subheading = "Let's get to know me."
	- var content = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda fuga voluptas at sit cum nulla debitis labore soluta ipsam tempora sint illo facere distinctio a magnam quisquam, harum pariatur."