extends base

block static_variables
	- var header_heading = "About."
	- var header_subheading = "Let's get to know me."
	- var header_content = "I promise, I'll try to keep it brief. Find below an informal introduction to the person that is Aarush Kumbhakern. For a more detailed list of my work, consider visiting the projects page. For professionals, see my curricuum vitae."

	- var toolbar_banner_content = "About."