include mixins/message.pug

doctype html

html
	head
		//- page meta
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		
		//- content meta
		title!= `${title} // Parthenon`
		meta(name="author" content="Aarush Kumbhakern")
		meta(name="description" content="Aarush Kumbhakern's personal homepage.")

		//- favicon
		link(rel="shortcut icon" type="image/svg" src="/images/site/favicon-dark.svg")

		//- fonts
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet")

		//- stylesheets
		block stylesheets
			link(rel="stylesheet", href="/stylesheets/reset.css")
			link(rel="stylesheet", href="/stylesheets/main.css")

		//- scripts
		block scripts
			script(type="text/javascript", src="/javascripts/main.js", defer)

	body
		#Page.Flexbox.mColumn.mStandardSpacing
			//- navbar
			header#Navbar.Flexbox.mSpaceBetween.mVerticallyCenter
				//- navbar banner
				a(href="/").mUnstyled: #navbarBanner Aa.

				//- toolbar
				#Toolbar.Flexbox.mReverse.mMinimalSpacing.mVerticallyCenter.uCalcDimensions
					//- menu button
					#NavbarMenuButton(onclick="document.getElementById('Navbar').classList.toggle('sMenuOpen')").mClickable
						for i in Array(3)
							.bar
					
					//- action buttons
					#toolbarButtons.Flexbox.mMinimalSpacing
						img(src="/images/icons/top.svg", onclick="window.scrollTo(0,0);").mClickable
						block toolbar_buttons

				//- navigation links
				nav#NavLinks.uOverlay.Flexbox.mCenter
					#navLinksList.Flexbox.mColumn.mVerticallyCenter
						a(href="/blog").mUnstyled Blog
						a(href="/about").mUnstyled About 
						a(href="/contact").mUnstyled Contact

				//- messages container
				#Messages.Flexbox.mColumn.mMinimalSpacing
					for category in Object.keys(messages)
						for message in messages[category] 
							+Message(category, message)

			//- main content container
			main#Main.Flexbox.mColumn.mStandardSpacing
				block main

			footer#Footer