doctype html
html
	head
		title= title + " / Parthenon"

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		meta(name="description" content="Aarush Kumbhakern's personal homepage.")

		block stylesheets
			link(rel="stylesheet", href="/stylesheets/reset.css")
			link(rel="stylesheet", href="/stylesheets/style.css")

		link(rel="stylesheet", href="https://api.fontshare.com/v2/css?f[]=crimson-pro@1&display=swap")

	body
		#page
			nav#navbar
				a.unstyled(href="/")
					#navbar_banner 
						span Aa
						span.hover-show-text rush Kumbhakern
						span .

				#navbar_links
						a.unstyled(href="/explore") Explore
						a.unstyled(href="/about") About
						a.unstyled(href="/contact") Contact

			header#header
				block header
					h1= heading
					h2= subheading
					p= content

			block content

			footer#footer
				#footer_banner Fin.

				#footer_links
						a.unstyled(href="#page") Top
						a.unstyled(href="https://github.com/Positron11/parthenon", target="_blank") Github

				
