doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		title!= `${title} ꞉꞉ Parthenon`
		meta(name="author" content="Aarush Kumbhakern")
		meta(name="description" content="Aarush Kumbhakern's personal homepage.")

		link(rel="shortcut icon" type="image/svg")
		script(type="text/javascript", src="/javascripts/favicon.js", defer)

		block stylesheets
			link(rel="stylesheet", href="/stylesheets/reset.css")
			link(rel="stylesheet", href="/stylesheets/main.css")

		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap" rel="stylesheet")
		link(rel="stylesheet", href="https://api.fontshare.com/v2/css?f[]=crimson-pro@2,1&display=swap")

		block scripts

	body
		block static_variables
		
		#page.comfortable-spacing.column.flexbox
			header#navbar.space-between.minimal-spacing.vertically-center.flexbox
				a.unstyled(href="/"): #navbar_banner Aa.

				#toolbar.minimal-spacing.vertically-center.flexbox
					block toolbar_buttons

				#nav_menu_button.clickable(src="/images/icons/menu.svg", onclick="document.getElementById('navbar').classList.toggle('menu-open')")
					.bar 
					.bar 
					.bar

				block messages

			nav#nav_menu_wrapper.vertically-center.flexbox: #nav_menu.vertically-center.column.flexbox
				a.unstyled(href="/blog") Blog
				a.unstyled(href="/about") About
				a.unstyled(href="/contact") Contact

			main#main
				#header
					h1.heading!= header_heading
					h2.subheading!= header_subheading
					p.content!= header_content

				block content

			#footer.vertically-center.space-between.flexbox
					#footer_banner Fin.

					#footer_links.vertically-center.minimal-spacing.flexbox 
						a.icon.button(href="https://github.com/Positron11/parthenon", target="_blank"): img(src="/images/icons/code.svg")
						.icon.button: img(src="/images/icons/top.svg", onclick="window.scrollTo(0,0);")