extends base

prepend header
	- var heading = "Contact."
	- var subheading = "Talk to me, babe."
	- var content = "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic eligendi suscipit animi voluptatum voluptas incidunt dicta ea, voluptatem minima, eius vel optio rem. Mollitia id nam cum neque modi deleniti."