extends base

block static_variables
	- var header_heading = "Contact."
	- var header_subheading = "Talk to me, babe."
	- var header_content = "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic eligendi suscipit animi voluptatum voluptas incidunt dicta ea, voluptatem minima, eius vel optio rem. Mollitia id nam cum neque modi deleniti."

	- var toolbar_banner_content = "Contact."