extends base

block static_variables
	- var header_heading = "Contact."
	- var header_subheading = "Talk to me, babe."
	- var header_content = "In the event that you find yourself wishing to contact me, I suggest you visit the about page, skim through the blog, and seriously reconsider. If you remain steadfast in your resolution, I've got you covered."

	- var toolbar_banner_content = "Contact."