extends base.pug

block main 
	//- page header
	#Header
		h1= `${error.status}.`
		h2= `${message}.`

	.Quote
		p "Science, my lad, has been built upon many errors; but they are errors which it was good to fall into, for they led to the truth." 
		p.tGray ― Jules Verne, Journey to the Center of the Earth 