extends base

block static_variables
	- var header_heading = error.status + "."
	- var header_subheading = message + "."
	- var header_content = "Cillum esse qui excepteur culpa do tempor ea non esse. Quis culpa veniam non ut id. Amet velit consectetur non mollit non consequat aliquip cillum laborum in pariatur tempor irure mollit. Irure cupidatat nisi minim excepteur est dolore officia."

	- var toolbar_banner_content = "Error."
