extends base

block header_variables
	- var heading = error.status + "."
	- var subheading = message + "."
	- var content = "Cillum esse qui excepteur culpa do tempor ea non esse. Quis culpa veniam non ut id. Amet velit consectetur non mollit non consequat aliquip cillum laborum in pariatur tempor irure mollit. Irure cupidatat nisi minim excepteur est dolore officia."
