extends base

prepend header
	- var heading = "Explore."
	- var subheading = "See the world."

block content 
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sunt inventore, facilis tempore laborum unde soluta omnis ea maxime qui amet vel molestiae consectetur magnam earum suscipit distinctio eum saepe?