extends base

append stylesheets
	link(rel="stylesheet", href="/stylesheets/explore.css")

prepend header
	- var heading = "Explore."
	- var subheading = "See the world."
	- var content = header_content

block content
	#main: #article_preview_list
		for post in posts
			.article-preview
				- var date = new Date(post.updated);
				- var month = date.toLocaleString('default', { month: "short" });
				- var day = date.getDay().toString().padStart(2, "0");
				
				.date 
					.month= month
					.day= day

				.title: h3= post.title
				.description: p= post.lede