extends base

prepend header
	- var heading = "Stop."
	- var subheading = "Now dig on this."
	- var content = "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, rerum eum incidunt fuga laboriosam mollitia, corporis quasi veniam eveniet quo ipsa architecto eos earum qui minus distinctio, doloribus nisi corrupti."

prepend toolbar_banner
	- var toolbar_banner_content = "Home."