extends base

block static_variables
	- var header_heading = "Stop."
	- var header_subheading = "Now dig on this."
	- var header_content = "I'm Aarush Kumbhakern, and this is my website. What's it for? Anything and everything I care to put up. My writings, the photographs I take, projects and professional portfolio (boring), and often nothing at all. Have fun."

	- var toolbar_banner_content = "Home."