extends base

block static_variables
	- var header_heading = "Stop."
	- var header_subheading = "Now dig on this."
	- var header_content = "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, rerum eum incidunt fuga laboriosam mollitia, corporis quasi veniam eveniet quo ipsa architecto eos earum qui minus distinctio, doloribus nisi corrupti."

	- var toolbar_banner_content = "Home."