extends ../base.pug

block main 
	//- page header
	#Header
		h1 About Me.
		h2 Into the deep.

	//- content
	p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, vero obcaecati aperiam modi assumenda libero voluptatum alias sit laudantium, tempora debitis quo incidunt tempore hic minima minus veritatis voluptate impedit.