extends ../base.pug

block main 
	//- page header
	#Header
		h1 Getting in Touch.
		h3 Hit me up, yeh.

	//- content
	p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis officia dolorum suscipit nesciunt cupiditate unde, maxime doloribus, repellendus labore, sapiente qui totam? Sint repellendus qui dignissimos? Culpa dignissimos necessitatibus magnam?