extends ../base.pug

block main 
	//- page header
	#Header
		h1 I'm Aarush.
		h3 I write. I Study. I Make.

	.Separator

	//- latest bulletin
	#Announcement.Flexbox.mColumn.mMinimalSpacing
		.Flexbox.mVerticallyCenter.mMinimalSpacing.mWrap
			div: h3.tGray Bulletin:
			if bulletin
				- var date = new Date(bulletin.created_date);
			div: h2= bulletin ? `${date.getDate()}/${date.getMonth() + 1}` : "*crickets*"
		if bulletin
			.content!= bulletin.renderContent()
			a(href="/bulletins").tGray Read older bulletins. 
		else 
			.content.tGray All's quiet on the western front. Read older bulletins <a href="/bulletins">here</a>.