extends ../base.pug

block main 
	//- page header
	#Header
		h1 I'm Aarush.
		h2 I write. I Study. I Make.
		
	//- content
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus beatae voluptas, eveniet, vel vero unde numquam sit atque eum omnis in alias aliquam vitae minima consequatur, molestiae porro rerum voluptates.