/* ================================================================== comment */

.Comment .content .header {
	column-gap: 0.5em;
	align-items: center;
}

.Comment .content .header .author {	font-family: var(--display-font); }

.Comment .content .header .date {
	font-size: 0.9em;
	color: var(--light-gray);
}

.Comment .content .body { margin-top: 0.5em; }
.Comment.sEditMode > .content .body { display: none; }

.Comment .editForm { margin: 1em 0 -3.25em 0; }
.Comment:not(.sEditMode) > .editForm { display: none; }

.Comment .actions {
	margin-top: 0.8em;
	padding: 0.75em 1em;
	border-radius: 0.75em 2em 2em 2em;
	background-color: var(--off-white);
}

.Comment .actions img { width: 0.96em; }

#commentDeleteForm { line-height: 0; }

.Comment .replies {
	border-left: 2px solid var(--lighter-gray);
	padding-left: calc(var(--standard-spacing) / 1.5);
}
@media only screen and (max-width: 1000px) {.Comment .replies { padding-left: calc(var(--standard-spacing) / 2.5); }}
.Comment .replies:not(.sEmpty), .Comment.sReplyMode > .replies { margin-top: calc(var(--standard-spacing) / 1.5); }

.Comment:not(.sReplyMode) > .replies > .replyForm {	display: none; }