/* ================================================================= COMMENTS */

/* Comment Info */

.comment-wrapper .comment .info { 
	line-height: 1.5em; 
	margin-bottom: 0.75em;
}
.comment-wrapper .comment .info .author { 
	font-family: var(--display-font); 
}

/* Comment form show/hide logic */

.comment-wrapper.edit-mode>.comment .content,
.comment-wrapper:not(.edit-mode)>.comment .edit-form,
.comment-wrapper:not(.reply-mode)>.replies>.reply-form { 
	display: none; 
}

/* Comment Edit Form */

.comment-wrapper .comment .edit-form { 
	margin-bottom: -3.25em; 
}

/* Comment Action Buttons */

.comment-wrapper .comment .comment-actions {
	margin: 1.4em 4em 0 0;
}
.comment-wrapper .comment .comment-actions .comment-action-button {
	padding: calc(var(--minimal-spacing) / 2);
	margin: calc(0px - var(--minimal-spacing) / 2);
}

/* Comment action button indicator mode logic */

.comment-wrapper.reply-mode>.comment .comment-actions .reply-button,
.comment-wrapper.edit-mode>.comment .comment-actions .edit-button { 
	filter: none;
}

/* Comment Reply Tree */

.comment-wrapper .replies { 
	border-left: 2px solid #EEE;
	padding-left: var(--compact-spacing);
}
@media only screen and (max-width: 45em) {.comment-wrapper .replies { 
	padding-left: var(--minimal-spacing);
}}
.comment-wrapper:not(.reply-mode)>.replies.empty {
	margin-top: calc(0px - var(--compact-spacing));
}