/* =================================================================== labels */

label {
	display: block;
	font-size: 1.25em;
	margin-bottom: 0.5em;
	font-family: var(--display-font);
}

/* ============================================================== text inputs */

:is(textarea, input[type="text"]) {
	border: none;
	outline: none;
	font-size: 1em;
	font-family: inherit;
	border-radius: 0.75em;
	box-sizing: border-box;
	background-color: var(--off-white);
}

input[type="text"] {
	min-width: 0;
	padding: 0.75em 1em;
	width: min(20em, 100%);
}

textarea {
	width: 100%;
	resize: none;
	line-height: 2em;
	padding: 0.75em 1.25em;
}

::-webkit-input-placeholder {
	color: var(--light-gray);
}
::-moz-placeholder {
	opacity: 1;
	color: var(--light-gray);
}
::-ms-placeholder {
	color: var(--light-gray);
}
::placeholder {
	color: var(--light-gray);
}

/* ================================================================== buttons */

button {
	border: none;
	font: inherit;
	cursor: pointer;
	font-weight: 450;
	padding: 0.75em 1em;
	border-radius: 0.75em;
	color: var(--off-white);
	background-color: var(--dark-gray);
}

button.mDanger { background-color: var(--red); }

button.mDiscreet {
	padding: 0;
	background: none;
}

button[disabled] {
	cursor: not-allowed;
	color: var(--light-gray);
	background-color: var(--off-white);
}