/* =================================================================== LABELS */

label {
	display: block;
	font-weight: 400;
	font-size: 1.2em; 
	line-height: 1.7em;
	margin-bottom: 0.75rem;
	font-family: var(--display-font);
}


/* =================================================================== INPUTS */

:is(input[type="text"], textarea) {
	min-width: 0;
	border: none;
	outline: none;
	max-width: 100%;
	font-size: inherit;
	padding: 0.75em 1em;
	font-family: inherit;
	border-radius: 0.5em;
	box-sizing: border-box;
	background-color: var(--off-white);
}
:is(input[type="text"], textarea).invalid {
	background-color: var(--light-red);
}

/* Textarea */ 

textarea {
	width: 100%;
	resize: none;
	line-height: 2em;
}

/* Placeholder Text */

::-webkit-input-placeholder {
	color: var(--gray);
}
::-moz-placeholder {
	opacity: 1;
	color: var(--gray);
}
::-ms-placeholder {
	color: var(--gray);
}
::placeholder {
	color: var(--gray);
}