label {
	display: block;
	font-weight: 400;
	font-size: 1.2em; 
	line-height: 1.7em;
	margin-bottom: 0.75rem;
	font-family: var(--display-font);
}

:is(input[type="text"], textarea) {
	border: none;
	outline: none;
	max-width: 100%;
	font-size: inherit;
	padding: 0.75em 1em;
	font-family: inherit;
	border-radius: 0.5em;
	box-sizing: border-box;
	background-color: var(--off-white);
}

:is(input[type="text"], textarea).invalid {
	background-color: var(--light-red);
}

textarea {
	width: 100%;
	resize: none;
	line-height: 2em;
}