/* =============== VARIABLES =============== */

:root {
	--serif-font: "Crimson Pro", serif;
	--display-font: "DM Serif Text", serif;

	--gray: #AAA;
	--dark-gray: #222;
	--off-white: #F8F8F8;
	--light-red: #FEEFF1;
	--dark-red: #EF3D59;

	--standard-spacing: 3rem;
	--compact-spacing: calc(var(--standard-spacing) / 1.5);
	--minimal-spacing: calc(var(--standard-spacing) / 2.5);
}


/* =============== GLOBAL ===============*/

:is(html, body) {
	font-size: 22px;
	font-weight: 350;
	scroll-behavior: smooth;
	scroll-padding-top: 6em;
	scroll-padding-bottom: 6em;
	font-family: var(--serif-font);
}

@media only screen and (max-width: 45em) {:is(html, body) {
	font-size: 19px;
}}


/* =============== PARAGRAPHS AND HEADINGS =============== */

:is(p, h1, h2, h3, h4) {
	overflow-x: auto;
	overflow-y: hidden;
	text-overflow: ellipsis;
}

:is(h1, h2, h3, h4) { 
	color: #222;
	font-weight: 400; 
	margin: -0.15em 0;
	font-family: var(--display-font);
}

:is(h1, h2, h3, h4, p) + :is(h1, h2, h3, h4) {
	margin-top: var(--standard-spacing);
}

h1 { 
	font-size: 4em; 
	line-height: 1.4em;
}
@media only screen and (max-width: 45em) {h1 {
	font-size: 2.75em;
}}

h2 { 
	font-size: 2.25em; 
	line-height: 1.5em;
}
@media only screen and (max-width: 45em) {h2 {
	font-size: 1.75em;
}}

h3 { 
	font-size: 1.5em; 
	line-height: 1.6em;
}

h4 { 
	font-size: 1.2em; 
	line-height: 1.7em;
}

p {
	margin: -0.45em 0;
	line-height: 2em;
}

:is(h1, h2, h3, h4, p) + p {
	margin-top: 1.25em;
}


/* =============== HEADINGS =============== */

:is(b, strong) {
	font-weight: 600;
}

a.unstyled {
	color: inherit;
	text-decoration: none;
}

.small {
	font-size: 0.9em;
}

.gray {
	color: var(--gray);
}


/* =============== UTILITIES =============== */

.clickable {
	cursor: pointer;
}

.single-line-text {
	display: block;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.truncate-lines {
	overflow: hidden;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--lines);
}


/* =============== BUTTONS =============== */

:is(button, .button) {
	border: none;
	font-size: 1em;
	cursor: pointer;
	font-weight: 450;
	padding: 0.75em 1em;
	font-family: inherit;
	display: inline-block;
	border-radius: 0.625em;
	color: var(--off-white);
	background-color: var(--dark-gray);
}

:is(button, .button).danger {
	background-color: var(--dark-red);
}

:is(button, .button):disabled {
	color: var(--gray);
	pointer-events: none;
	background-color: var(--off-white);
}


/* =============== GENERIC ELEMENTS =============== */

.separator {
	width: 100%;
	border-top: 1px solid #EEE;
}


/* =============== LAYOUTS AND CONTAINERS =============== */

.flexbox {
	display: flex;
}

.flexbox.column {
	flex-direction: column;
}

.flexbox.right-align {
	justify-content: flex-end;
}

.flexbox:not(.column).vertically-center {
	align-items: center;
}
.flexbox.column.vertically-center {
	justify-content: center;
}

.flexbox.space-between {
	justify-content: space-between;
}
.flexbox.right-align.space-between > :only-child {
	margin-left: auto;
}

.flexbox.comfortable-spacing {
	row-gap: var(--standard-spacing);
	column-gap: var(--standard-spacing);
}

.flexbox.compact-spacing {
	row-gap: var(--compact-spacing);
	column-gap: var(--compact-spacing);
}

.flexbox.minimal-spacing {
	row-gap: var(--minimal-spacing);
	column-gap: var(--minimal-spacing);
}


/* =============== PAGE CONTAINER =============== */

#page {
	margin: auto;
	max-width: 45em;
	position: relative;
	box-sizing: border-box;
	padding: 0 min(3em, 7.5vw);
}


/* =============== MESSAGES =============== */

.message {
	z-index: 2;
	color: white;
	max-width: 75vw;
	position: absolute;
	top: 6em; right: 0;
	padding: 0.75em 1em;
	border-radius: 0.625em;
	box-shadow: 2px 2px 4px 2px #00000022;
	animation: message-hide 5s forwards;
}
.message:not(.error) {
	background-color: var(--dark-gray);
}
.message.error {
	background-color: var(--dark-red);
}

.message .banner {
	font-family: var(--display-font);
}

.message .content {
	font-weight: 450;
	font-size: 0.9em;
}


/* =============== NAVBAR =============== */

#navbar {
	top: 0;
	z-index: 4;
	height: 5em;
	position: sticky;
	color: var(--gray);
	background-color: white;
	transition: 0.3s color ease, 0.3s box-shadow ease;
}
#navbar:not(.menu-open) {
	border-bottom: 1px solid #EEE;
}
#navbar.menu-open {
	color: unset;
}

#navbar_banner {
	margin: -1rem;
	padding: 1rem;
	font-size: 1.5em;
	font-weight: 500;
}

#nav_menu_button {
	height: 1em;
	margin: -1em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#nav_menu_button .bar {
	width: 1.1em;
	height: 0.125em;
	background-color: var(--gray);
	transition: 0.3s ease opacity, 0.3s ease transform;
}
#navbar.menu-open #nav_menu_button .bar {
	background-color: var(--dark-gray);
}
#navbar.menu-open #nav_menu_button .bar:nth-child(2) {
	opacity: 0;
}
#navbar.menu-open #nav_menu_button .bar:nth-child(1) {
	transform: rotate(-45deg) translate(-0.275em, 0.35em);
}
#navbar.menu-open #nav_menu_button .bar:nth-child(3) {
	transform: rotate(45deg) translate(-0.275em, -0.35em);
}


/* =============== NAV MENU =============== */

#nav_menu_wrapper {
	z-index: 3;
	position: fixed;
	padding-top: 2.6em;
	background-color: white;
	top: 0; left: 0; right: 0; bottom: 0;
	transition: 0.3s ease opacity;
}
#navbar:not(.menu-open)+#nav_menu_wrapper {
	opacity: 0;
	pointer-events: none;
}

#nav_menu {
	width: 100%;
	margin: auto;
	max-width: 45em;
	box-sizing: border-box;
	padding: 0 min(3em, 7.5vw);
}

#nav_menu a {
	font-size: 2.5em;
	padding: 0.75em 0;
	transition: 0.3s ease color;
}
@media only screen and (max-width: 45em) {#nav_menu a {
	font-size: 2em;
}}
@media only screen and (pointer: fine) {#nav_menu:hover a:not(:hover) {
	color: var(--gray);
}}


/* =============== HEADER =============== */

#header .heading {
	max-width: min(31rem, 100%);
}

#header .content {
	color: var(--gray);
}


/* =============== MAIN CONTAINER =============== */

#main {
	display: flex;
	flex-direction: column;
	row-gap: var(--standard-spacing);
	margin: var(--standard-spacing) 0;
}


/* =============== TOOLBAR =============== */

#toolbar {
	bottom: 0;
	z-index: 1;
	height: 5em;
	line-height: 0;
	position: sticky;
	color: var(--gray);
	background-color: white;
	border-top: 1px solid #EEE;
}

#toolbar_banner {
	font-size: 1.5em;
	font-weight: 500;
}

#toolbar_buttons {
	justify-content: flex-end;
}

#toolbar_buttons .toolbar-button-icon {
	width: 1.2em;
	opacity: 0.35;
	margin: -0.6em;
	padding: 0.75em;
	transition: 0.15s ease opacity;
}
@media only screen and (pointer: fine) {#toolbar_buttons .toolbar-button-icon:hover {
	opacity: 1;
}}


/* =============== ANIMATIONS =============== */

@keyframes message-hide {
	0% { opacity: 1; }
	80% { opacity: 1; }
	100% { opacity: 0; pointer-events: none; }
}