extends ../base

append stylesheets
	link(rel="stylesheet", href="/stylesheets/blog/article_list.css")

prepend header
	- var heading = "Blog."
	- var subheading = "They're Only Words."
	- var content = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sunt inventore, facilis tempore laborum unde soluta omnis ea maxime qui amet vel molestiae consectetur magnam earum suscipit distinctio eum saepe?"

block content
	.separator 

	#article_preview_list.comfortable-spacing.column.flexbox
		each article in articles
			a.unstyled(href=article.url): .article-preview
				.date
					- var date = new Date(article.updated_date);
					.month= date.toLocaleString('default', { month: "short" })
					.day= date.getDate().toString().padStart(2, "0")

				.header
					.title: h3!= article.title
					.subtitle: i!= article.subtitle

				.description.truncate-lines(style="--lines:4"): p!= article.description