extends ../base

append stylesheets 
	link(rel="stylesheet", href="/stylesheets/blog/article_detail.css")

prepend header
	- var heading = article.title
	- var subheading = article.subtitle
	- var content = article.renderDescription()

block content	
	.separator 

	#article_content!= article.renderContent()

block toolbar_buttons 
	a.unstyled.toolbar-button-icon(href=`${article.url}/edit`): img(src="/images/icons/edit.svg")
	a.unstyled.toolbar-button-icon(href=`${article.url}/delete`): img(src="/images/icons/trash.svg")

prepend toolbar_banner
	- var toolbar_banner_content = "Read."