extends ../base

append stylesheets 
	link(rel="stylesheet", href="/stylesheets/blog/article_detail.css")

block header_variables
	- var heading = article.title
	- var subheading = article.subtitle
	- var content = article.renderDescription()

block content	
	.separator 

	#article_content!= article.renderContent()

block toolbar_buttons 
	a.unstyled(href=`${article.url}/edit`): img(src="/images/icons/edit.svg").toolbar-button-icon
	a.unstyled(href=`${article.url}/delete`): img(src="/images/icons/trash.svg").toolbar-button-icon