extends ../base

prepend header 
	- var heading = "Banish."
	- var subheading = `Deleting: ${article.title}`
	- var content = "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti, accusantium reiciendis exercitationem pariatur distinctio voluptate nam quos id numquam, dolore omnis tempore odio excepturi consequuntur ex. Architecto recusandae magni est."

block content 
	.separator 

	.space-between.flexbox
		a(href=article.url).unstyled: .button Go Back
		form(action="", method="post"): button(type="submit").danger Yup, Delete