extends ../base

block scripts
	script(type="text/javascript", src="/javascripts/autosize.min.js", defer)
	script(type="text/javascript", src="/javascripts/forms.js", defer)

append stylesheets
	link(rel="stylesheet", href="/stylesheets/forms.css")
	link(rel="stylesheet", href="/stylesheets/blog/article_editor.css")

prepend header
	- var heading = "Create."
	- var subheading = "Or Forever Hold Your Silence."
	- var content = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sunt inventore, facilis tempore laborum unde soluta omnis ea maxime qui amet vel molestiae consectetur magnam earum suscipit distinctio eum saepe?"

block content
	.separator 

	form(action="", method="post").comfortable-spacing.column.flexbox
		.field
			label(for="form_title_field") Title
			input#form_title_field(type="text", name="title", size="40", required="true", maxlength="40", value!=(undefined === form_data ? "" : form_data.title))
		
		.field
			label(for="form_subtitle_field") Subtitle
			input#form_subtitle_field(type="text", name="subtitle", size="40", required="true", maxlength="40", value!=(undefined === form_data ? "" : form_data.subtitle))

		.field
			label(for="form_description_field") Description
			textarea#form_description_field(name="description", required="true", rows="4", maxlength="300")!= (undefined === form_data ? "" : form_data.description)

		.field
			label(for="form_content_field") Content
			textarea#form_content_field(name="content", rows="8", required="true")!= (undefined === form_data ? "" : form_data.content)
		
		.right-align.flexbox: button(type="submit")= action


