extends ../base

block static_variables 
	- var header_heading = "Banish."
	- var header_subheading = `Deleting: ${article.title}`
	- var header_content = "Are you entirely sure you want to delete this article? The article itself, along with all its comments will be gone forever. Proceed if you're okay with this."
	- var toolbar_banner_content = "Delete."

block content
	.space-between.flexbox
		a(href=article.url).unstyled: .button Cancel
		form(action="", method="post"): button(type="submit").danger Delete