extends ../base

append stylesheets 
	link(rel="stylesheet", href="/stylesheets/blog/article_detail.css")

prepend header
	- var heading = article.title
	- var subheading = article.subtitle
	- var content = article.description

block content
	.separator 

	#article_content: p= article.content

	.space-between.flexbox
		a(href=article.url + "/edit").unstyled: .button Edit
		a(href=article.url + "/delete").unstyled: .danger.button Delete