extends ../base.pug

append stylesheets
	link(rel="stylesheet", href="/stylesheets/forms.css")

append scripts
	script(type="text/javascript", src="/javascripts/blog/article_delete.js", defer)

block main 
	//- page header
	#Header
		h1 Banish.
		h3!= `Deleting "${article.title}${ ["!", "?", "."].includes(article.title.slice(-1)) ? "" : "."}"`

	p If you proceed, you will permanently delete the article and all associated comments. There is no going back. If you are sure you want to do this, <b>type the article's title in the input below</b>.
		
	.Separator
		
	//- delete form
	form#ArticleDeleteForm(action="", method="post").Flexbox.mSpaceBetween.mMinimalSpacing.mVerticallyCenter
		//- confirmation step
		input#articleDeleteFormValidator(type="text", required, pattern!=article.title, title="article title", placeholder="Type article title to confirm...")
		
		button#articleDeleteFormSubmit(type="submit").mDanger Delete